body
{
    background-color: rgb(235, 225, 172);
    text-align: center;
}


input[type="button"]
{
    color: white;
    background-color: rgb(19, 18, 18);
}

table{
    margin-left: auto;
    margin-right: auto;
}